* {
  margin: 0;
  padding: 0;  
}
  
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  
* {
  box-sizing: inherit;
}

.wrapper {
  width: 100em;
  height: 100vh;
  margin: 0 auto;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #25282a;
}

[name="button"] {
  display: none;
}

.imgs-list {
  width: 84em;
  height: 55em;
  display: flex;
  gap: 6em;
  border-radius: 5%;
  overflow: hidden;
}
  
.img-item {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
}
  
.pagination {
  width: 84em;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-title {
  color: #FFF;
  font-size: 1.5rem;
}

.slide-button {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background-clip: content-box;
  background: white;
  border-radius: 50%;
  margin: 0 1rem 1rem 0;
  padding: 10px;
  cursor: pointer;
  border: 2px solid greenyellow;
}

.hidden {
  display: none;

}

[name="mem-button"] {

}

@media (max-width: 768px) {
 
  .pagination {
    margin-top: 2em;
    flex-direction: column;
    justify-content:flex-end;
  }

  .title-items {
    order: 2;
    align-self: flex-start;
  }
}